/* CSS RESET --------------------------------------------------------------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* MyStyles-------------------------------------------------------------------------------------------------------------------------------------------- */
body {
    background-color: #FEFAE0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
font-family: Roboto;
font-size: 28px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;

}

nav {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid #00ff00; */
    height: 96px;
    padding: 0 2rem;
    background-color: #5F6F52;
}

.nav-left {
    display: flex;
    align-items: center;
    /* border: 2px solid rgb(5, 65, 5); */

}

.nav-right {
    width: 33%;
    display: flex;
    align-items: center;
    /* border: 2px solid rgb(5, 65, 5); */
}

#navList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid rgb(5, 30, 65); */
    list-style: none;
    padding-inline-start: 0px;
}

header {
    /* border: 2px solid orange; */
    background-color: #B99470;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
    padding: 1rem 0;
}

#duck {
    display: flex;
    /* border: 2px solid yellow; */
    justify-content: space-around;
    background-color: #A9B388;
    margin: 0;
    margin-bottom: 1rem;
    padding: 1rem 0;
}

.text {
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text > p {
    margin: 1rem 0;
    padding: 0 1rem;
    color: black;
    border:outset 3px black;
    border-radius: 12px;
    padding: 1rem 5px;
    background-color: #9A4444;
    font-style: italic;
    font-weight: 600;
    text-decoration: underline;
}

.duck {
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#emergency {
    /* border: 2px solid blue; */
    background-color: #B99470;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-bottom: 1rem;
    padding: 1rem 0;
}

.grid-container {
    /* border: 2px solid rgb(168, 34, 148); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    margin: 0 ;
    justify-items: center;
    margin-top: 1rem;
}

.gridLink{
    width: 168px;
    height: 138.46px;
    /* border: 2px solid blue; */
}

.grid-item {
    /* border: 2px solid pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#5F6F52;
    padding: 10% 20%;
    height: 3rem;
}

.grid-item:hover {
background-color: #9A4444;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* border: 2px solid red; */
    background-color: #A9B388;
    margin: 0;
    margin-bottom: 1rem;
    padding: 1rem 0;
}

.contactForm {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
}

button {
    background-color: #9A4444;
    border-radius: 12px;
    height: 51px;
    width: 120px;   
}

input[type=text] {
    width: 530px;
    height: 33px;
    margin-bottom: 0.5rem;
}

textarea {
    width: 530px;
    margin-bottom: 0.5rem;
}

#Avatar {
    border-radius: 50%;
}

.nav-right > ul > li > a {
    text-decoration: none;
    font-family:"Salsa";
    color: #A9B388;
}

.nav-right > ul > li > a:hover {
    text-decoration: underline;
    font-family:"Salsa";
    color: #9A4444;
}

.nav-right > ul > li > a:active {
    text-decoration: none;
    font-family:"Salsa";
    color: #d6131d;
}

#byMe {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2 {
    font: 2rem "Salsa";
    text-align: center;
    margin: 0;
    color: #9A4444;
    text-shadow: 3px 3px  black;
    animation: unblur 3s 1s 1;
}

@keyframes unblur {
    from {
      text-shadow: 0 0 8px #c0c0c0;

    }
    to {
      text-shadow: 0;
    }
}

.grid-item {
    /*here we define what properties the transition should apply (background-color and text color*/
    transition-property: background-color color border-radius font-weight;
    /* here we define how long our transition should last*/
    transition-duration: 2s;
    /* here we say that our transition should start0,5 seconds after the trigger*/
    transition-delay: 0;
}

/* here we define how our transition properties will change on hover*/  
.grid-item:hover {
    color: #9A4444;
    background-color: #A9B388;
    border-radius: 50%;
    font-weight: 600;
}
